# Data
/data/
/tmp/
*.csv
agaricus.txt.*

# Intellij
.idea/
*.iml
*.iws

# Maven
log/
target/

# python
.ipynb_checkpoints/
.envrc

# geo
nominatim-docker/
new-york-latest.osm.pbf
nygdb/

# others
serving-machine-learning-models.pdf
